<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="Tabelka.css">
</head>
<body>
	<wicket:panel>
		<div class="container">
		<div wicket:id="search"></div>
			<table class="table table-bordered " style="margin-top:10px">
				<thead>
					<tr class="naglowek" >
						<th wicket:id="tableHead" class="elementNaglowka"></th>
						<!-- <th>naglowek</th> -->
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="rows" class="wiersz" style="cursor:pointer">
						<td wicket:id="dataRow" class="komorkaTabeli"></td>
					</tr>
				</tbody>
			</table>
			<ul class="pagination" wicket:id="pagingNavigator"></ul>
		</div>
	</wicket:panel>
</body>
</html>