@CHARSET "UTF-8";

.komentarzKlient{
	width:50%;
}

.komentarzPracownik{
	width:50%;
	margin-left:50%;
}

.infoOZgloszeniu{
	margin-top:20px;
	    background: #a90329;
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
    color: white !important;
}