<wicket:panel>
	<form wicket:id="form">
		<div class="table-responsive">
			<table table id="listaUserow" class="table table-hover">
				<tbody>
				<thead>
					<tr>
						<td colspan="3" id="glowa_tab"><b>Edycja Danych</b></td>
					</tr>
				</thead>
				<tr>
					<td>Imiê</td>
					<td><span wicket:id="userName" class="inline-edit"></span></td>
					<td></td>
				</tr>
				<tr>
					<td>Nazwisko</td>
					<td><span wicket:id="userSurname" class="inline-edit"></span></td>
					<td></td>
				</tr>
				<tr>
					<td>Login</td>
					<td><span wicket:id="userLogin" class="inline-edit"></span>&nbsp;<span  id="podpowiedz" data-toggle="tooltip" data-placement="top"
						title="Naciœnij dwa razy, ¿eby edytowaæ" class="glyphicon glyphicon-edit" aria-hidden="true"></span> </td>
					<td><b> <font color="B04862"> <span
								wicket:id="userExist"></span> <span wicket:id="loginlength"></span>
						</font> <span wicket:id="loginOK"></span>
					</b></td>
				</tr>
				<tr>
					<td>E-mail</td>
					<td><span wicket:id="userEmail" class="inline-edit"></span>&nbsp;<span id="podpowiedz2" data-toggle="tooltip" data-placement="right"
						title="Naciœnij dwa razy, ¿eby edytowaæ" class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
					<td><b> <font color="B04862"> <span
								wicket:id="emailExist"></span> <span wicket:id="bademail"></span>
						</font> <span wicket:id="emaillOK"></span>
					</b></td>
				</tr>
				<tr>
					<td>Nr. telefonu</td>
					<td><span wicket:id="userPhone" class="inline-edit"></span>&nbsp;<span id="podpowiedz3" data-toggle="tooltip" data-placement="bottom"
						title="Naciœnij dwa razy, ¿eby edytowaæ" class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
					<td><b> <font color="B04862"><span wicket:id="badphone"></span>
						</font> <span wicket:id="phoneOK"></span>
					</b></td>
				</tr>
				</tbody>
			</table>
		</div>
	</form>
		<SCRIPT>
	$("#podpowiedz").tooltip();
	</SCRIPT>
			<SCRIPT>
	$("#podpowiedz2").tooltip();
	</SCRIPT>
			<SCRIPT>
	$("#podpowiedz3").tooltip();
	</SCRIPT>
</wicket:panel>