<wicket:panel>
	<form wicket:id="changePassword" role="form" class="form-horizontal"
		id="form_dodawanieUsera">
		<div class="table-responsive">
			<table table id="listaUserow" class="table table-hover">
				<tbody>
				<thead>
					<tr>
						<td colspan="3" id="glowa_tab"><b>Edycja Has³a</b></td>
					</tr>
				</thead>
				<tr>
					<td>Aktualne has³o</td>
					<td><input type="password"  wicket:id="stareHaslo"
						class="form-control" name="stareHaslo"
						placeholder="Aktualne has³o"></td>
					<td><font color="B04862"><b><span
								wicket:id="badPassword"></span></b></font></td>
				</tr>
				<tr>
					<td>Nowe has³o</td>
					<td><input type="password"  wicket:id="noweHaslo"
						class="form-control" name="stareHaslo" placeholder="Nowe has³o"></td>
					<td><font color="B04862"><b><span
								wicket:id="passLength"></span></b></font></td>
				</tr>
				<tr>
					<td>Powtórz has³o</td>
					<td class="col-sm-5"><input type="password" 
						wicket:id="potwierdzHaslo" class="form-control" name="stareHaslo"
						placeholder="PotwierdŸ has³o"></td>
					<td class="col-sm-4">
					<b><span wicket:id="passwordChanged"></span><font color="B04862"><span wicket:id="badSecoundPassword"></span></font></b></td>
				</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-5">
			</div>
			<div class="col-sm-4">
				<input type="submit" class="przycisk" id="przycisk" value="Zmieñ has³o" />
			</div>
		</div>
	</form>
</wicket:panel>