<wicket:panel>
<form wicket:id="changePassword" role="form" class="form-horizontal"
				id="form_dodawanieUsera">
				<div class="row">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="stareHaslo">Aktualne has³o:</label>
						<div class="col-sm-5">
							<input type="password" size="40" wicket:id="stareHaslo"
								class="form-control" name="stareHaslo" placeholder="Aktualne has³o">
						</div>
						<div class="col-sm-4">
							<font color="B04862"><b><span wicket:id="badPassword"></span></b></font>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="noweHaslo">Nowe has³o:</label>
						<div class="col-sm-5">
							<input type="password" size="40" wicket:id="noweHaslo"
								class="form-control" name="stareHaslo" placeholder="Nowe has³o">
						</div>
						<div class="col-sm-4">
							<font color="B04862"><b><span wicket:id="passLength"></span></b></font>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<label class="col-sm-3 control-label" for="potwierdzHaslo">Powtórz has³o:</label>
						<div class="col-sm-5">
							<input type="password" size="40" wicket:id="potwierdzHaslo"
								class="form-control" name="potwierdzHaslo" placeholder="PotwierdŸ has³o">
						</div>
						<div class="col-sm-4">
							<font color="B04862"><b><span wicket:id="badSecoundPassword"></span></b></font>
						</div>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-5">
						 <font size="6"><span wicket:id="passwordChanged"></span></font>
					</div>
					<div class="col-sm-4">
						<input type="submit" class="przycisk" id="przycisk" value="Utwórz" />
					</div>
				</div>
			</form>
</wicket:panel>