/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-05-18, 17:38:45
    Author     : Adam11
*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
 background-image:url("biuro.jpg");
 font-family: 'Ubuntu', sans-serif;
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
}

#form_dodawanieUsera{
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
}

#listaUserow{
	font-family: 'Ubuntu', sans-serif;
	font-size:18px;
}


#stopka_tab{
	font-size:24px;
	text-align:center;
}

#stopka_tab:a{
	text-decoration: none;
}

#glowa_tab{
	font-size:24px;
	text-align:center;
}

#stopka_tab:a{
	text-decoration: none;
}

.przycisk{
	font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    height: 50px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0);
    border:none;
	border-bottom-style: solid;
	margin-bottom:3%;
}

.przycisk:hover{
    cursor: pointer;
	font-weight: bold;
}

#tytul_strony{
	font-family: 'Ubuntu', sans-serif;
	padding-left:7%;
    padding-right:2%;
	font-size:20px;
    line-height:40px;
    margin-top:10px;
	font-weight: bold;
	border-bottom-style: solid;
	margin-bottom:3%;
}

#wyloguj{
	font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    display: block;
    height: 50px;
    width: 200px;
    border:none;
    text-align:center;
    background-color: rgba(0, 0, 0, 0);
	margin-bottom:3%;
    float:right;
    margin-right: 5%
}

#wyloguj:hover{
        cursor: pointer;
		font-weight: bold;
}

