/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-05-19, 17:37:22
    Author     : Adam11
*/
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700&subset=latin,latin-ext);

body{
    background-color:#e7e7e9;
    font-family: 'Josefin Sans', sans-serif;
}

a {
   text-decoration: none;

}

#gora{
	 background-color: #181629;
}
a:hover {
color:black;
}

#tytul{
	font-family: 'Josefin Sans', sans-serif;
	margin-top:5px;
    line-height:100px;
    color:white;
    font-size:50px;
    text-align:center;
    background-color: #181629;
}

#tytul:hover{
        cursor: pointer;
}


#onas{
	font-family: 'Josefin Sans', sans-serif;
	margin-top:5px;
    line-height:45px;
    text-align:center;
    background-color:  #181629;
    color:white;
    margin-bottom: 10px;  
}

#onas:hover{
    cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

#pomoc{
	font-family: 'Josefin Sans', sans-serif;
    line-height:45px;
    text-align:center;
    background-color: #181629;
    color:white;
    
}
#pomoc:hover{
    cursor: pointer;
	font-weight: bold;
	text-decoration: none;
}

#cytat{
	font-family: 'Josefin Sans', sans-serif;
	padding-left:2%;
    padding-right:2%;
    line-height:40px;
    text-align:center;
    margin-top:10px;
    background-color: #181629;
    color:white;
}

#logowanie{
	
	text-align:center;
    padding-top: 2%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
	font-size:25px;
    font-family: 'Josefin Sans', sans-serif;
	text-align:middle;
	min-height: 400px;

}
input[type="text"] {
    width: 200px;
	height:25px;
}
input[type="password"] {
    width: 200px;
	height:25px;
}

#informacje{
	font-family: 'Josefin Sans', sans-serif;
	padding-top: 2%;
    padding-left:2%;
    padding-right:2%;
    padding-bottom:2%;
    min-height: 400px;
	text-align:justify;

}


.przycisk{
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size:20px;
    height: 50px;
    width: 200px;
    background-color: #181629;
    border:none;
}
.przycisk:hover{
    cursor: pointer;
	background-color: #181629;
}
